<img src="../assets/inspire_logo_hep.png" class='inspire-logo' />
<div class='filter'>
    <p class='bg-info'> Input here the filters for the results </p>
    <input type="text" [(ngModel)]="filter_term" class="form-control" name="x" placeholder="Filter results by term...">
 </div>
 <div class="container">
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group item-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <ul *ngFor="let collection of collections">
                    <li><a href="{{collection}}">{{collection}}</a></li>
                    </ul>
                    </ul>
                </div>        
                <input type="text" [(ngModel)]="search_term" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <ul> 
                <li *ngFor="let record of records | paginate: { itemsPerPage: 2, currentPage: p, totalItems: total }"  class="list-group list-group-item"><pre>{{record | json}}</pre></li>
            </ul>
             <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
	</div>
</div>



